[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mFilter"]
	path = mFilter
	url = https://github.com/mbalcilar/mfilter
[submodule "nonParQuantileCausality"]
	path = nonParQuantileCausality
	url = https://github.com/mbalcilar/nonparquantilecausality
